; This is a test configuration file

[main]
;file_blacklist=/data/Develop/dns_injection_test/injected_names_all.txt
file_blacklist  = blacklist.txt
file_badip  = badip.txt

;;  Local port for DNS resolving service 
service_port = 53
tcpservice_port = 53

;; This server should be locate outside of the Wall
open_resolver = 8.8.8.8
open_resolver_port = 53

;; This is the local DNS resolver, for good performance 
local_resolver = 114.114.114.114
local_resolver_port = 53

 
;; TTL(in IP header, in ms) threshold is used to validate DNS replies
;; If the it is to small  than expected, it will be taken as injected 
ttl_threshold = 3   

;daemonize = yes 
;fail_forward = yes

;file_log=/var/log/dadder.log
;file_pid=/var/run/dadder.pid

;;What information do you want to log?
;;The following is from source code:
;;#define LOG_NONE    0
;;#define LOG_ERROR   1
;;#define LOG_QUERY   2
;;#define LOG_FORWARD 4
;;#define LOG_REPLY   8
;;#define LOG_INFO    16
;;#define LOG_MEASURE 32 
;;#define LOG_DEBUG   64 
;;set every bit to 1, then log anything:
log_level = 127 

;; log error, query, forward, reply, measure: 15 + 32
;log_level = 47 

[test]

;;This is a domain name which GFW will not like to block. 
;;You can replace with any other such names

testname=www.mit.edu
test_interval=10
